.letter-n {
  width: 150px;
}
.cls-1 {
  stroke: url(#Degradado_sin_nombre_4-2);
}

.cls-1, .cls-2 {
  fill: #1a1a1a;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.cls-2 {
  stroke: url(#Degradado_sin_nombre_4);
}
