.form-switch {
  .form-check-input.language-switch {
    width: 4rem;
  }
  .language-switch {
    appearance: none;
    height: 24px;
    background: linear-gradient(to right, #{$gradient-1}, #{$gradient-2}, #{$gradient-3}, #{$gradient-4}, #{$gradient-5});
    position: relative;
    border-radius: 25px;
    outline: none;
    border: none;
    box-shadow: none;
    &::before {
      content: "";
      background: #{$black-nestordgs};
      height: 1.7rem;
      width: 1.7rem;
      position: absolute;
      border-radius: 50%;
      top: 9%;
      right: 4%;
      transition: all .5s;
      z-index: 2;
    }
    &::after {
      content: attr(data-language);
      position: absolute;
      color: #{$black-nestordgs};
      top: 15%;
      left: 15%;
      font-weight: bold;
      transition: all .5s;
      z-index: 1;
    }
    &:checked::before {
      right: 53%;
    }
    &:checked::after {
      left: 53%;
    }
  }
}
