$max-height-header: 436px;
$gradient-1: #63B4FF !default;
$gradient-2: #5BC9E7 !default;
$gradient-3: #70FFF8 !default;
$gradient-4: #5FE8BB !default;
$gradient-5: #62FF9F !default;
$black-nestordgs: #191919 !default;
$gray-900: #1C1C1C !default;
$header-background: #1A1A1A;
